<!--
 Left side column. contains the logo and sidebar 
<aside th:fragment="sidebar" class="main-sidebar">
     sidebar: style can be found in sidebar.less 
    <section class="sidebar">
         Sidebar user panel 
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../static/images/login.jpg" th:src="@{/images/Utsav.jpg}" class="img-circle" alt="UserImage"/>
            </div>
            <div class="pull-left info">
                <p>Unis Gas Suppliers Pvt.Ltd</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
         search form 
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
         /.search form 
         sidebar menu: : style can be found in sidebar.less 
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview menu-open">

                <a href="#">
                    <i></i> <span>Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <i class="fa fa-circle-o"></i> 
                                            <c:forEach var="dipo" items="${dipos}">
                                                <div class="dipo"><a href="${SITE_URL}/report/{id}" ${dipo.name}</div>
                                            </c:forEach>
                    </li>
                </ul>
            </li>

            <li class="">
                <a th:href="@{admin/transactions}">Transactions</a>
            </li>
            <li class="">
                <a th:href="@{admin/dipos}">Dipos</a>
            </li>
            <li class="">
                <a th:href="@{admin/items}">Items</a>
            </li>
            <li class="">
                <a th:href="@{admin/suppliers}">Suppliers</a>
            </li>

            <li>
            <c:url value="/j_spring_security_logout" var="logoutUrl" />
            <form action="${logoutUrl}" method="post" id="logoutForm">
                <input type="hidden" name="${_csrf.parameterName}"
                       value="${_csrf.token}" />
            </form>
            <script>
                function formSubmit() {
                    document.getElementById("logoutForm").submit();
                }
            </script>

            	<c:if test="${pageContext.request.userPrincipal.name != null}">
                    
                                    Welcome : ${pageContext.request.userPrincipal.name} | 
                                    <a href="javascript:formSubmit()"> Logout</a>
                                            
                            
                    </c:if>

            </li>
        </ul>
    </section>
     /.sidebar 
</aside>-->