

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="admin_shared/headerfiles::headerfiles">
    </head>
    <body>

        <nav th:replace="admin_shared/header::navbar"></nav>
        <div class="container-fluid main-container">
            <!--            <div th:replace="admin_shared/header::sidebar"></div>-->
            <div class="col-md-12 content">

                <div class="row">
                    <div class="panel panel-default filterable">
                        <div class="panel-heading">
                            <h2 id ="dipoName" class="panel-title" th:text="${dipoName}" align="center"></h2>
                            <h5 id="total" align="left">Total Transacted Amount:<span id="getAmount"> </span></h5>
                            <div class="pull-right">
                                <!--                                                                                                    th:href="@{/dipos/create}"-->
<!--                                <a  type= "button" class="btn btn-xs btn-primary  sbtn">
                                    <span class="glyphicon glyphicon-plus"/>
                                </a>-->
                                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                            </div>
                        </div>
                        <table id="table1" class="table table-condensed table-hover table-striped table-bordered table-responsive table-list">
                            <thead>
                                <tr class="filters">
                                    <th><input type="text" class="form-control" placeholder="addedDate" disabled></th>
                                    <!--                        <th><input type="text" class="form-control" placeholder="id" disabled></th>-->
                                    <!--                                    <th><input type="text" class="form-control" placeholder="supplier" disabled></th>-->
                                    <!--                        <th><input type="text" class="form-control" placeholder="dipo" disabled></th>-->
                                    <th><input type="text" class="form-control" placeholder="Dip" disabled></th>
                                    <th><input type="text" class="form-control" placeholder="item" disabled></th>
                                    <th><input type="text" class="form-control" placeholder="refilledNumber " disabled></th>
                                    <th><input type="text" class="form-control" placeholder="refilledRate" disabled></th>
                                    <th><input type="text" class="form-control" placeholder="soldNumber" disabled></th>

                                    <th><input type="text" class="form-control" placeholder="FullRate" disabled></th><!--
                                    -->                                    <th><input type="text" class="form-control" placeholder="totalAmount" disabled></th><!--
                                                                        <th><input type="text" class="form-control" placeholder="refilledAmt" disabled></th>
                                                                        <th><input type="text" class="form-control" placeholder="leakageReceived" disabled></th>
                                                                        <th><input type="text" class="form-control" placeholder="leakageRefilled" disabled></th>-->


                                </tr>
                            </thead>
                            <tbody>

                                <tr th:each="transaction:${transactions}">
                                    <td class="sum" th:text="${transaction.addedDate}"></td>
                                    <td  th:text="${transaction.dipo.name}">${transaction.dipo.name}</td>
                                    <td  th:text="${transaction.item.name}">${transaction.item.name}</td>
                                    <td class="sum"  th:text="${transaction.transactedNumber}">${transaction.transactedNumber}</td>

                                    <td th:text="${transaction.refilledRate}">${transaction.refilledRate}</td>
                                    <td th:text="${transaction.soldNumber}">${transaction.soldNumber}</td>
                                    <td th:text="${transaction.emptyRate}">${transaction.emptyRate}</td>
                                    <!--                                     <td th:text="${transaction.emptyRate}*${transaction.transactedNumber}+${transaction.soldNumber}*${transaction.emptyRate}">${total amount}</td>-->
                                    <td th:text="${transaction.transactedNumber} * ${transaction.refilledRate}+${transaction.soldNumber}*${transaction.emptyRate}"></td>
                                </tr>

                                
                            </tbody>
                        </table>
                        <hr/>

                        <footer th:replace="admin_shared/footer::footer"></footer>
                        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
                        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

                    </div>
                </div>
            </div>
    </body>
</html>


