
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="admin_shared/headerfiles::headerfiles">
    </head>
    <body>

        <nav th:replace="admin_shared/header::navbar"></nav>
        <div class="container-fluid main-container">
            <div th:replace="admin_shared/header::sidebar"></div>
            <div class="col-md-10 content">

                <div class="row">
                    <div class="panel panel-default filterable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dipos of UNIS</h3>
                            <div class="pull-right">
                                <!--                                                                                                    th:href="@{/dipos/create}"-->
                                <a  type= "button" class="btn btn-xs btn-primary  sbtn">
                                    <span class="glyphicon glyphicon-plus"/>
                                </a>
                                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                            </div>
                        </div>
                        <table class="table table-hover table-striped table-bordered table-responsive table-list">
                            <thead>
                                <tr class="filters">
                                    <th><input type="text" class="form-control" placeholder="id" disabled></th>
                                    <th><input type="text" class="form-control" placeholder="userName" disabled></th>
<!--                                    <th><input type="text" class="form-control" placeholder="DipoName" disabled></th>-->
                                    <th><input type="text" class="form-control" placeholder="Address" disabled></th>
                                    <th><input type="text" class="form-control" placeholder="ContactNUmber" disabled></th>
                                    <th><input type="text" class="form-control" placeholder="PanNumber" disabled></th>
                                    <th><input type="text" class="form-control" placeholder="AddedDate" disabled></th>
                                    <th>Action</th>
                                    <th>Add</th>
                                    <th><b>Show</b></th>


                                </tr>
                            </thead>
                            <tbody>


                                <tr th:each="dipo:${dipos.content}">
                                    <td th:text="${dipoStat.count}"></td><!--it counts till the end -->
<!--                                    <td th:text="${dipo.user.firstName}">username</td>-->
                                    <td th:text="${dipo.name}"></td>
                                    <td th:text="${dipo.address}"></td>
                                    <td th:text="${dipo.contactNumber}"></td>
                                    <td th:text="${dipo.panNumber}"></td>
                                    <td th:text="${dipo.addedDate}"></td>
                                    <td>
                                        <a th:href="@{/admin/dipos/edit/__${dipo.id}__}" class="btn btn-default ebtn"><span class="glyphicon glyphicon-pencil"> </span>    </a>

                                        <a th:href="@{/admin/dipos/delete/__${dipo.id}__}" class="btn btn-danger delBtn"><span class="glyphicon glyphicon-trash"> </span>  </a>

                                    </td>
                                    <td> 
                                        <a th:href="@{/admin/transactions/create/__${dipo.id}__}" type= "button" class="btn btn-sm btn-primary sTranBtn ">
                                            <span class="glyphicon glyphicon-plus">Tran</span>
                                        </a>
                                        <a th:href="@{/admin/depositedAmount/create/__${dipo.id}__}" type= "button" class="btn btn-sm btn-primary sAmountBtn ">
                                            <span class="glyphicon glyphicon-plus">Amt</span>
                                        </a>
                                        <a th:href="@{/admin/depositedCylinder/create/__${dipo.id}__}" type= "button" class="btn btn-sm btn-primary sCylinderBtn ">
                                            <span class="glyphicon glyphicon-plus">Cyl</span>
                                        </a>
                                        <a th:href="@{/admin/leakage/create/__${dipo.id}__}" type= "button" class="btn btn-sm btn-primary sLeakageBtn ">
                                            <span class="glyphicon glyphicon-plus">Leak</span>
                                        </a>
                                    </td>
                                    <!--                                        <a th:href="@{admin/transaction/edit/__${dipo.id}__}" class="btn btn-default eTranBtn">
                                                                                <span class="glyphicon glyphicon-pencil"> </span> 
                                                                            </a>-->
                                    <td> 
                                        <a th:href="@{/admin/transactions/report/__${dipo.id}__}" type= "button" class="btn btn-default showReportBtn" target="_blank">Tran</a>
                                        <a th:href="@{/admin/depositedAmount/report/__${dipo.id}__}" type= "button" class="btn btn-default showReportBtn" target="_blank">Amt</a>
                                        <a th:href="@{/admin/depositedCylinder/report/__${dipo.id}__}" type= "button" class="btn btn-default showReportBtn" target="_blank">Cyl</a>
                                        <a th:href="@{/admin/leakage/report/__${dipo.id}__}" type= "button" class="btn btn-default showReportBtn" target="_blank">Leak</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <hr/>
                        <ul class="nav nav-pills">
                            <li class="nav-item" th:each="i: ${#numbers.sequence(0,dipos.totalPages-1)}">
                                <a th:href="@{/admin/dipos/(pages=${i})}"th:text="${i}" class="nav-link"
                                   th:classappend="${currentPage}==${i}?'active':''"></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <footer th:replace="admin_shared/footer::footer"></footer>
            <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
            <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        </div>


        <!-- create- Dipo-->
        <div th:replace="admin/dipos/dipoCreate::dipoCreateForm"></div>

        <!--edit Dipo-->
        <div th:replace="admin/dipos/dipoCreate::dipoEditForm"></div>

        <!--Delete DipoModal-->
        <div th:replace="admin/dipos/dipoCreate::dipoDelete"></div>

        <!--create transactions-->
        <div th:replace="admin/dipos/transactionCreate::transactionCreateForm"></div>
        <div th:replace="admin/dipos/amountCreate::amountCreateForm"></div>
        <div th:replace="admin/dipos/cylinderCreate::cylinderCreateForm"></div>
        <div th:replace="admin/dipos/leakageCreate::leakageCreateForm"></div>
        
    </body>
</html>