<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="admin_shared/headerfiles::headerfiles">
    </head>
    <body>

        <nav th:replace="admin_shared/header::navbar"></nav>
        <div class="container-fluid main-container">
            <div th:replace="admin_shared/header::sidebar"></div>
            <div class="col-md-10 content">

                <div class="row">
                    <div class="panel panel-default filterable">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dipos of UNIS</h3>
                            <div class="pull-right">
                                <!--                                                                                                    th:href="@{/dipos/create}"-->
                                <a  type= "button" class="btn btn-xs btn-primary  sbtn">
                                    <span class="glyphicon glyphicon-plus"/>
                                </a>
                                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </body>
</html>